


body {
    min-height: 100vh;
}



h1 {
    text-align: center;
}

.rotate {
    transform: rotate(90deg);
}

#pet {
    float: center;
    
    
}

img {
    
    align-items: center;
    padding-left: 0em;
    max-width: 100px;
    height: 200px;
    float: center;
    
    
    
}


#buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    flex-direction: row;
    
    border-radius: 50%;
}

#pet {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


#shell {
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: gray;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border-radius: 100px;
    padding-top: 50px;
    color: white;
  }
  ​
  
  ​
.button {
    
    align-items: center;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    background-color: darkblue;
    margin-top: 30px;
    list-style: none;
    border-radius: 30px;
    
}
